<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
</head>
<body>
    <h1>Lista de Productos</h1>
    <ul>
        {% for producto in productos %}
            <li>{{ producto.nombre }} - {{ producto.precio }}</li>
            <a href="{% url 'editar_pruducto' producto.pk %}">Editar</a> - <a href="{% url 'eliminar_pruducto' producto.pk %}">Eliminar</a>
        {% endfor %}
    </ul>
    <a href="{% url 'agregar_producto' %}">Agregar un Nuevo Producto</a>
    <br>
    <a href="{% url 'inicio' %}">Volver a Inicio</a>
</body>
</html>